body {
  background: url(/images/bg-pattern-top.svg) no-repeat -200px -200px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 1000px 300px /contain;
  background-color: rgb(25, 161, 173);
  font-family: 'Kumbh Sans', sans-serif;
}

.card {
  margin: 130px auto;
  width: 350px;
  height: 360px;
  background: url(/images/bg-pattern-card.svg) no-repeat top right /350px 150px;
  border-radius: 10px;
  background-color: white;
  box-shadow: .2px .2px 100px .1px rgba(27, 27, 27, 0.151);
  transition: all .3s;
}

.card:hover {
  transform: scale(1.01, 1.01);
  box-shadow: .2px .2px 100px .1px rgba(245, 245, 245, 0.253);
}

.image {
  border-radius: 50%;
  border: 5px solid white;
  margin-left: 120px;
  margin-top: 100px;
}

.name {
  text-align: center;
}

.name h2 {
  margin: 0px;
}

.name span,
p {
  color: hsl(0, 0%, 59%);
}

.infoborder {
  margin-top: 10px;
  margin-bottom: 0px;
  border: .1px solid rgba(150, 150, 150, .3);
}

.information {
  display: flex;
  justify-content: space-evenly;

}

.item {
  font-size: 16px;
  text-align: center;
}

.item h3,
p {
  margin-bottom: 0px;
}

.item p {
  font-size: 12.3px;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  transition: all .3s;
  letter-spacing: 1px;

}

.attribution a:link {
  color: rgb(255, 255, 255);
}

.attribution a:visited {
  color: rgb(68, 72, 141);
}

.attribution a:hover {
  color: rgb(241, 245, 4);
}

.attribution a:active {
  color: rgba(255, 2, 2, 0.685);
}


/* Media Query*/

@media (max-width: 1440px){
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat 50px -200px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 900px 300px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
}

@media (max-width: 1024px){
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat -200px -200px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 600px 300px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
}

@media (max-width: 768px){
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat -350px -350px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 450px 400px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
}

@media (max-width: 425px){
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat -250px -150px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 250px 450px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
}

@media (max-width: 375px){
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat -200px -160px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 200px 460px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
}
/* Mobile Device */
@media (max-width: 320px) {
  body {
    background: url(/images/bg-pattern-top.svg) no-repeat -200px -150px /contain, url(/images/bg-pattern-bottom.svg) no-repeat 200px 400px /contain;
    background-color: rgb(25, 161, 173);
    font-family: 'Kumbh Sans', sans-serif;
  }
  .card{
    width: 300px;
  }
  .image {
    margin-left: 100px;
  }
  .attribution {
    font-size: 15px;
    text-align: center;
  }
  .attribution a{
    letter-spacing: 1px;
  }
}
/* End */

/* Thank You For Checking 😊 */

/* 11-Dec-2020 Made with ❤ Coded by Sabbir Sobhani */